{
  "semi": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
