@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-identifier: #fddcbd;
  --sh-keyword: #d16806;
  --sh-string: #d16806;
  --sh-comment: #fddcbd88;
  --sh-property: #fbb675;
  --sh-sign: #fddcbdaa;
  --sh-class: #d16806;
  --sh-jsxliterals: red;
  --sh-entity: red;
}

html {
  color-scheme: dark;
}

* {
  @apply focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary focus-visible:ring-offset-4 focus-visible:ring-offset-background;
}

::selection {
  @apply text-background bg-secondary;
}

a {
  @apply underline underline-offset-2;
}

.prose {
  @apply max-w-none text-secondary antialiased hyphens-auto prose-headings:text-primary prose-headings:font-serif prose-headings:font-medium prose-headings:text-3xl prose-headings:mt-8 prose-headings:mb-6;
}

.prose pre {
  @apply border bg-[#342318]/20 border-lowContrast/10 rounded-md p-4 overflow-x-auto;
}

.prose strong {
  @apply text-primary;
}

.prose ul {
  @apply list-none p-0 m-0;
}

.prose li {
  @apply before:content-['—'] before:mr-4 before:text-primary text-secondary p-0;
}

.prose blockquote {
  @apply border-l-lowContrast border-l-[2px] text-lowContrast font-serif;
}
