@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-identifier: rgb(var(--color-secondary));
  --sh-sign: rgb(var(--color-secondary));
  --sh-string: rgb(var(--color-primary));
  --sh-keyword: 255 0 0;
  --sh-comment: 255 0 0;
  --sh-property: 255 0 0;
  --sh-class: 255 0 0;
  --sh-jsxliterals: 255 0 0;
  --sh-entity: 255 0 0;
}

@layer base {
  :root {
    --color-primary: 125 87 61; /* Lighter beige */
    --color-secondary: 100 75 20;
    --color-background: 251 241 199; /* Light warm background */
    --color-transparent: 251 241 199; /* Fully white for transparency */
    --noise-opacity: 30%;
  }

  [data-theme='dark'] {
    --color-primary: 253 220 189;
    --color-secondary: 209 186 162;
    --color-background: 38 28 17;
    --color-transparent: 0 0 0;
    --noise-opacity: 15%;
  }
}

* {
  @apply focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary focus-visible:ring-offset-4 focus-visible:ring-offset-background border-secondary/20;
}

a {
  @apply relative underline text-primary;
}
::selection {
  @apply text-background bg-secondary;
}

.prose {
  @apply max-w-none text-secondary antialiased hyphens-auto prose-headings:text-primary prose-headings:font-serif prose-headings:font-medium prose-headings:text-xl prose-headings:mt-8 prose-headings:mb-6;
}

.prose pre {
  @apply border bg-background/20 border-secondary/10 rounded-md p-4 overflow-x-auto;
}

.prose strong {
  @apply text-primary;
}

.prose ul {
  @apply list-none p-0 m-0;
}

.prose li {
  @apply before:content-['—'] before:mr-4 before:text-primary text-secondary p-0;
}

.prose blockquote {
  @apply border-l-secondary border-l-[2px] text-secondary font-serif;
}

@layer utilities {
  .vignette {
    background: linear-gradient(
      180deg,
      rgb(var(--color-background)) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 80%,
      rgb(var(--color-background)) 100%
    );
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

@keyframes reveal-new {
  from {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  }
  to {
    clip-path: circle(200% at var(--x, 50%) var(--y, 50%));
  }
}

::view-transition-new(root) {
  animation: reveal-new 0.6s ease-in-out forwards;
}
